.jumbotron {
  background-color: pink;
  color: black;
  margin-bottom: 50px;
}
.btn {
  background-color: black;
}

footer {
  padding: 10px 10px 0px 10px;
  background-color: pink;
  margin-bottom: 0px;
  margin-top:20px;
}

.card-hotel {
  flex: 1 200px;
  padding: 2px 2px 2px 2px;
  margin-top: 10px;
}

.btn-reserva {
  width: 100%;
  border-radius: 0px;
}

.footer-address-icon {
  padding-right: 5px;
}

.tab-content {
  padding-top: 10px;
}
