$yellow: #ffff49;
$pink: #fccae7;
$black: #000000;

@mixin margenes($top, $bottom){
  margin-top: $top;
  margin-bottom: $bottom;
}

.jumbotron {
  background-color: $pink;
  color: $black;
  @include margenes(50px, 0px);
}
.btn {
  background-color: black;
}

footer {
  padding: 10px 10px 0px 10px;
  background-color: $pink;
  @include margenes(20px, 0px);
}

.card-hotel {
  flex: 1 200px;
  padding: 2px 2px 2px 2px;
  @include margenes(10px, 0px);
}

.btn-reserva {
  width: 100%;
  border-radius: 0px;
}

.footer-address-icon {
  padding-right: 5px;
}

.tab-content {
  padding-top: 10px;
}
