.jumbotron {
  background-color: #fccae7;
  color: #000000;
  margin-top: 50px;
  margin-bottom: 0px; }

.btn {
  background-color: black; }

footer {
  padding: 10px 10px 0px 10px;
  background-color: #fccae7;
  margin-top: 20px;
  margin-bottom: 0px; }

.card-hotel {
  flex: 1 200px;
  padding: 2px 2px 2px 2px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  padding-right: 5px; }

.tab-content {
  padding-top: 10px; }
